<div class="modal-header">
    <h5 class="modal-title">Edit Car Picture</h5>
    <button type="button" class="close" mat-dialog-close>
        <i class="far fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <div>
            <label for="url-input">Enter Image URL:</label>
            <input type="text" value={{url}} class="form-control" id="url-input"/>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="submit()">
        Submit
    </button>
</div>