<div class="modal-header">
    <h5 class="modal-title">Car Picture</h5>
    <button type="button" class="close" mat-dialog-close>
        <i class="far fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <img src={{image}}/>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="editImage()">
        <i class="far fa-edit"></i>
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteImage()">
        <i class="fas fa-trash"></i>
    </button>
</div>