<header>
  <h1>Inventory Management System</h1>
</header>
<div class="container-fluid">
  <h1>Car Inventory</h1>
  <div id="table-controls">
    <div class="btn-group" id="pagination">
      <button type="button" class="btn btn-primary">
        <i class="far fa-chevron-left"></i>
      </button>
      <button type="button" class="btn btn-primary">
        <i class="far fa-chevron-right"></i>
      </button>
    </div>
    <div class="input-group" id="searchbar">
      <input type="search" class="form-control" />
      <div class="input-group-append">
        <button type="button" class="btn btn-primary" id="search-btn">
          <i class="far fa-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th><div>
            <span>VIN</span>
            <i class="fad fa-sort sort-icon"></i>
          </div></th>
          <th><div>
            <span>Brand</span>
            <i class="fad fa-sort sort-icon"></i>
          </div></th>
          <th><div>
            <span>Model</span>
            <i class="fad fa-sort sort-icon"></i>
          </div></th>
          <th><div>
            <span>Color</span>
            <i class="fad fa-sort sort-icon"></i>
          </div></th>
          <th><div>
            <span>Year</span>
            <i class="fad fa-sort sort-icon"></i>
          </div></th>
          <th><div>
            <span>Mileage</span>
            <i class="fad fa-sort sort-icon"></i>
          </div></th>
          <th><div>
            <span>Price</span>
            <i class="fad fa-sort sort-icon"></i>
          </div></th>
          <th><div>
            <span>Quantity</span>
            <i class="fad fa-sort sort-icon"></i>
          </div></th>
          <td class="button-cell align-middle d-none">
            <button class="btn btn-success" id="add-row-btn">
              <i class="far fa-plus"></i>
            </button>
          </td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div class="button-container">
    <button class="btn btn-primary" id="edit-btn">Edit</button>
    <button class="btn btn-primary d-none" id="done-btn">Done</button>
  </div>
</div>
<footer></footer>