<header>
  <h1>Inventory Management System</h1>
</header>
<div class="container-fluid">
  <h1>Car Inventory</h1>
  <div class="input-group" id="searchbar">
    <input type="search" class="form-control" id="searchbar-field"/>
    <div class="input-group-append">
      <button type="button" class="btn" id="clear-search-btn">
        <i class="fad fa-times-circle"></i>
      </button>
      <button type="button" class="btn btn-primary" id="search-btn">
        <i class="far fa-search"></i>
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th><div>
            <span>VIN</span>
            <i class="fad fa-sort sort-icon"></i>
          </div></th>
          <th><div>
            <span>Brand</span>
            <i class="fad fa-sort sort-icon"></i>
          </div></th>
          <th><div>
            <span>Model</span>
            <i class="fad fa-sort sort-icon"></i>
          </div></th>
          <th><div>
            <span>Color</span>
            <i class="fad fa-sort sort-icon"></i>
          </div></th>
          <th><div>
            <span>Year</span>
            <i class="fad fa-sort sort-icon"></i>
          </div></th>
          <th><div>
            <span>Mileage</span>
            <i class="fad fa-sort sort-icon"></i>
          </div></th>
          <th><div>
            <span>Price</span>
            <i class="fad fa-sort sort-icon"></i>
          </div></th>
          <td class="button-cell align-middle d-none">
            <button class="btn btn-success" id="add-row-btn">
              <i class="far fa-plus"></i>
            </button>
          </td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div id="table-controls">
    <div class="btn-group" id="pagination">
      <button type="button" class="btn btn-primary" id="prev-page-btn">
        <i class="far fa-chevron-left"></i>
      </button>
      <button type="button" class="btn" id="current-page"></button>
      <button type="button" class="btn btn-primary" id="next-page-btn">
        <i class="far fa-chevron-right"></i>
      </button>
    </div>
    <div class="button-container">
      <button class="btn btn-primary" id="edit-btn">Edit</button>
      <button class="btn btn-primary d-none" id="save-btn">Save</button>
      <button class="btn btn-primary d-none" id="cancel-btn">Cancel</button>
    </div>
    <div id="rows-per-page">
      <label>Rows per page:</label>
      <input type="number" min="1" class="form-control" id="rows-per-page-field"/>
    </div>
  </div>
</div>
<footer>
  <p>&copy; IT 390 - Rapid Development of Scalable Cloud Applications, 2021</p>
  <p>Disclaimer: This is a website for a fictitious company and was developed as an education project.</p>
</footer>