.modal-header {
    margin-top: -24px;
    margin-left: -24px;
    margin-right: -24px;
    background-color: #fff389;
}

.modal-header i {
    padding-top: 5px;
    padding-bottom: 2px;
}

.modal-body {
    margin-left: -24px;
    margin-right: -24px;
}

.modal-body img {
    margin: 0;
    width: 100%;
}

.modal-footer {
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: -24px;
    background-color: #fff389;
}

.modal-footer button {
    margin: auto;
    width: 150px;
}